astroid==2.3.3
blis==0.4.1
boto==2.49.0
boto3==1.10.28
botocore==1.13.28
cachetools==3.1.1
catalogue==0.0.8
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.1
cymem==2.0.3
Cython==0.29.14
cytoolz==0.10.1
decorator==4.4.1
docutils==0.15.2
en-core-web-sm==2.2.5
gensim==3.8.1
idna==2.8
importlib-metadata==0.23
inflect==3.0.2
isort==4.3.21
jellyfish==0.7.2
jmespath==0.9.4
joblib==0.14.0
lazy-object-proxy==1.4.3
markovify==0.7.2
mccabe==0.6.1
more-itertools==8.0.0
murmurhash==1.0.2
networkx==2.4
nltk==3.4.5
numpy==1.17.4
oauthlib==3.1.0
pandas==0.25.3
plac==1.1.3
preshed==3.0.2
pycorpora==0.1.2
pyemd==0.5.1
pylint==2.4.4
Pyphen==0.9.5
PySocks==1.7.1
python-dateutil==2.8.0
pytz==2019.3
requests==2.22.0
requests-oauthlib==1.3.0
s3transfer==0.2.1
scikit-learn==0.21.3
scipy==1.3.3
six==1.13.0
smart-open==1.9.0
spacy==2.2.3
srsly==0.2.0
textacy==0.9.1
textblob==0.15.3
thinc==7.3.1
toolz==0.10.0
tqdm==4.39.0
tracery==0.1.1
tweepy==3.8.0
Unidecode==1.1.1
urllib3==1.25.7
wasabi==0.4.0
wordfilter==0.2.6.2
wrapt==1.11.2
zipp==0.6.0
